[Unit]
Description=CrowdSec to Cloudflare IP banlist Sync
After=network.target
Wants=network-online.target

[Service]
SyslogIdentifier=cf-list-sync
Type=oneshot
WorkingDirectory=/opt/cloudflare-sync
ExecStart=/opt/cloudflare-sync/venv/bin/python /opt/cloudflare-sync/cf_blocklist_update.py
# Ensure the script runs as root for cscli access
User=root
Group=root

[Install]
WantedBy=multi-user.target
